@import url(https://fonts.googleapis.com/css?family=Maitree:400,700);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

/* General styles */
body {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Maitree', serif;
    color: #fff;
    background: #efe9dd;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
}
h1{font-size: 70px;}
h2 {font-size: 36px;letter-spacing:1px;}
h3 {font-size: 24px;}
img {width: 100%;}
a,button{outline: 0 !important;}
a:hover,a:focus{ text-decoration: none}

/* Background Transition */
.classic_btn,.social .fa {
    transition: background .3s ease-in-out;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
}

/* Header */
header{background: url(../images/header_bg.jpg)no-repeat;background-size: cover; color: #f1f1f1;overflow: hidden;}
nav.navbar.bootsnav {
    background-color: #444;
    border: 0 none;
}

.attr-nav {
    margin-right: 105px;
}

/* Banner */
.banner {
    margin-top: 50px;
    margin-bottom: 50px
}
.banner > h3 {
    font-size: 32px;
    letter-spacing: 16px;
    text-align: center;
    color: #FFFFFF;
}
.banner h1 {
    text-align: center;
    color:#FFFFFF;
}

/* Third Secition */
/* Carousel */
#carousel {
    margin-top: 30px;
}
#carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
    height: 600px;
}
#carousel .carousel-caption {
    background: rgba(0, 0, 0, 0.35) none repeat scroll 0 0;
    bottom: 62px;
    left: 64px;
    padding: 18px 15px 35px 35px;
    top: 60px;
    width: 450px;
}
#carousel .carousel-caption > h2 {
    font-size: 55px;
    line-height: 70px;
    text-align:left;
    letter-spacing: 0.1px;
}
#carousel .carousel-caption > h3 {
    font-size: 39px;
    text-align:left;
}
#carousel .carousel-caption > p {
    font-size: 18px;
    line-height: 26px;
    margin-right: 40px;
    margin-top: 28px;
    text-align: left;
}

#carousel .carousel-indicators {
    bottom: 2px;
}
#carousel .carousel-indicators > li {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.45);
    border: 0;
    margin: 0 8px;
}
#carousel .carousel-indicators > li.active {
    background: #d14149;
}


/* Second Secition */
.menu, .news {
    margin-top: 35px;
    height: 190px;
    padding: 75px 0 40px;
}
.menu{background: url(../images/menu_bg.jpg)no-repeat;background-size: 100% 100%;}
.news{background: url(../images/sides_bg.jpg)no-repeat;background-size: 100% 100%;}
.inner_content {
    display: block;
    margin: 0 auto;
    width: 220px;
}
.second_sec .flaticon:before {
    font-size: 65px;
}
.second_sec .flaticon {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    float:left;
}
.second_sec h2 {
    display: inline-block;
}
.inner_content .flaticon-fast-food,.inner_content .flaticon-newspaper {
    margin-left: 15px;
}

/* Footer */
footer {
    background: #454646 none repeat scroll 0 0;
}
footer h4 {
    font-family: 'Maitree', serif;
    margin-top: 20px;
    text-transform: capitalize;
}
/* Info */
.info {
    margin-top: 30px;
    overflow: hidden;
}

/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: maroon;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}



/* media query for other devices */
@media (max-width: 1199px) {
    .attr-nav {
        margin-right: 0;
    }

    .inner_banner {
        margin-left: 100px;
    }


}

@media (max-width: 991px) {
    h2 {
        font-size: 30px;
    }
    .banner {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .inner_banner {
        margin-left: 150px;
        margin-top: 50px;
    }

    .shape {
        height: 106px;
        width: 106px;
    }
    .shape:after {
        border-bottom: 15px solid transparent;
        border-left: 53px solid #c72937;
        border-right: 53px solid #c72937;
        bottom: -15px;
    }
    .shape > p {
        font-size: 14px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
        height: 500px;
    }
    #carousel .carousel-caption {
        bottom: 50px;
        left: 40px;
        top: 40px;
        width: 350px;
    }
    #carousel .carousel-caption > h2 {
        font-size: 40px;
        line-height: 55px;
    }
    #carousel .carousel-caption > h3 {
        font-size: 30px;
    }

    #carousel .carousel-caption > p {
        margin-right: 20px;
    }

    .inner_content {
        width: 200px;
    }
    .second_sec .flaticon {
        margin-right: 15px;;
    }

    address > p {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
    }


}

@media (max-width: 767px) {
    h1 {
        font-size: 50px;
    }

    .banner {
        margin-top: 60px;
    }
    .banner > h3 {
        font-size: 26px;
        letter-spacing: 10px;
    }
    .inner_banner {
        margin: 30px 0 0;
        text-align: center;
    }
    .banner_content {
        display: inline-block;
        float: none;
        margin-right: 15px;
        padding: 0;
        text-align: left;
        width: 60%;
    }

    .feature {
        margin-top: 50px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
        height: 400px;
    }
    #carousel .carousel-caption {
        left: 20px;
        top: 20px;
        width: 365px;
        padding: 10px 15px;
    }
    #carousel .carousel-caption > p {
        margin-right: 0;
    }
    #carousel .carousel-caption > p,#carousel .carousel-caption {
        margin-top: 20px;
    }
}

@media (max-width: 479px) {
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 20px;
    }
    .banner {
        margin-top: 40px;
    }
    .banner > h3 {
        font-size: 20px;
        letter-spacing: 8px;
    }
    .banner_content {
        width: 50%;
    }
    header .caption {
        margin-left: 15px;
    }

    #carousel .carousel-inner > .item > a > img, #carousel .carousel-inner > .item > img{
        height: 350px;
    }
    #carousel .carousel-caption {
        width: 250px;
        right: 20px;
    }
    #carousel .carousel-caption > h2 {
        font-size: 30px;
        line-height: 40px;
    }
    #carousel .carousel-caption > h3 {
        font-size: 22px;
    }
    #carousel .carousel-caption > p {
        font-size: 16px;
        line-height: 20px;
        margin: 15px 0 0;
    }
}