@import url(https://fonts.googleapis.com/css?family=Maitree:400,700);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

/* General styles */
body {
    font-size: 16px;
    line-height: 18px;
    font-family: 'Maitree', serif;
    background: #efe9dd;
    color: #fff;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    margin: 0;
}
h1{font-size: 70px;}
h2 {font-size: 36px;letter-spacing:1px;}
h3 {font-size: 24px;}
img {width: 100%;}
a,button{outline: 0 !important;}
a:hover,a:focus{ text-decoration: none}

/* Header */
header{
    background: url(../images/image.jpg) no-repeat;
    background-size: cover; 
    color: #f1f1f1;
    overflow: hidden;
}
nav.navbar.bootsnav {
    background-color: #444;
    border: 0 none;
}

/* Banner */
.banner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.banner_logo {
    margin-top: 50px;
    margin-bottom: 50px;
}
.banner > h3 {
    font-size: 32px;
    letter-spacing: 16px;
    text-align: center;
    color: #FFFFFF;
}
.banner h1 {
    text-align: center;
    color:#FFFFFF;
}

/* Second Section */
.menu, .news {
    margin-top: 35px;
    height: 190px;
    padding: 75px 0 40px;
    color: #fff;
}
.menu{background: url(../images/menu_bg.jpg)no-repeat;background-size: 100% 100%;}
.news{background: url(../images/sides_bg.jpg)no-repeat;background-size: 100% 100%;}
.inner_content {
    display: block;
    margin: 0 auto;
    width: 220px;
}
.second_sec .flaticon:before {
    font-size: 65px;
}
.second_sec .flaticon {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
    float:left;
}
.second_sec h2 {
    display: inline-block;
}
.inner_content .flaticon-fast-food,.inner_content .flaticon-newspaper {
    margin-left: 15px;
}

/*Card Section*/
.card {
    background-color: #343a40;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

}

/* Footer */
.footer_info {
    font-size: 12px;
}

footer {
    background: #454646 none repeat scroll 0 0;
}

footer h4 {
    font-family: 'Maitree', serif;
    font-size: 14px;
    margin-top: 20px;
    text-transform: capitalize;
}

/* scrollup */
.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: maroon;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

/*News Page*/
.newsform {
    background-color: #343a40;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

}


/* media query for other devices */
@media (max-width: 1199px) {
    .inner_banner {
        margin-left: 100px;
    }
}

@media (max-width: 991px) {
    h2 {
        font-size: 30px;
    }
    
    .banner {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .second_sec .flaticon {
        margin-right: 15px;;
    }

    address > p {
        font-size: 14px;
        width: 100%;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 50px;
    }

    .banner {
        margin-top: 60px;
    }
    
    .banner > h3 {
        font-size: 26px;
        letter-spacing: 10px;
    }
}

@media (max-width: 479px) {
    h1 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 20px;
    }
    
    .banner {
        margin-top: 40px;
    }
    
    .banner > h3 {
        font-size: 20px;
        letter-spacing: 8px;
    }
}