/*    .main {
        position: absolute;
        left:0; top:92px; bottom: 0;
        width: 70%;
    }
    .right {
        position: fixed;
         top:92px; right:0; bottom:0;
    }
    */
.tbl-cart {
	font-size: medium;
}

.tbl-cart th {
	font-weight: normal;
}